<form>
    <div class="party-inventory__currency-row flexrow flex1">
        <div class="party-inventory__currency-entry flexrow">
            <input value="{{currency.pp}}" type="number" name="currency.pp" data-dtype="Number" />
            <span class="flex0">{{localize "PARTY-INVENTORY.pp"}}</span>
        </div>
        <div class="party-inventory__currency-entry flexrow">
            <input value="{{currency.gp}}" type="number" name="currency.gp" data-dtype="Number" />
            <span class="flex0">{{localize "PARTY-INVENTORY.gp"}}</span>
        </div>
        <div class="party-inventory__currency-entry flexrow">
            <input value="{{currency.ep}}" type="number" name="currency.ep" data-dtype="Number" />
            <span class="flex0">{{localize "PARTY-INVENTORY.ep"}}</span>
        </div>
        <div class="party-inventory__currency-entry flexrow">
            <input value="{{currency.sp}}" type="number" name="currency.sp" data-dtype="Number" />
            <span class="flex0">{{localize "PARTY-INVENTORY.sp"}}</span>
        </div>
        <div class="party-inventory__currency-entry flexrow">
            <input value="{{currency.cp}}" type="number" name="currency.cp" data-dtype="Number" />
            <span class="flex0">{{localize "PARTY-INVENTORY.cp"}}</span>
        </div>
    </div>

    <button class="flex0" type="submit" name="submit"><i class="fas fa-hand-paper fa-rotate-90"></i> {{localize "PARTY-INVENTORY.take-currency"}}</button>
</form>